doctype 5
html
  head
    title Kitteh Gallereh :: Kendo UI SPA Sample

    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/css/imagegallery.css', type='text/css')

    script(src='/js/vendor/json2.js')
    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/underscore.js')
    script(src='/js/vendor/kendo.all.min.js')

    script(src='/js/imagegallery.js')
    script(src='/js/controller.js')
    script(src='/js/router.js')
    script(src='/js/imagelist.js')
    script(src='/js/addedit.js')
    script(src='/js/imageviewer.js')

  body
    block content

