doctype 5
html
  head
    title Kitteh Gallereh :: Kendo UI SPA Sample

    link(rel='stylesheet', href='/css/bootstrap.css', type='text/css')
    link(rel='stylesheet', href='/css/imagegallery.css', type='text/css')

    script(src='/js/json2.js')
    script(src='/js/jquery.js')
    script(src='/js/underscore.js')
    script(src='/js/kendo.all.min.js')

    script(src='/js/imagegallery.js')

    include templates.html

  body
