<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <div class="brand"><a href="http://kendoui.com"><img src="/img/kendo-logo.png" width="150"></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/">Kitteh Gallereh</a></div>
      <ul class="nav">
        <li><a href="#/images/new"><i class="icon-plus"></i>Add Kitteh</a></li>
      </ul>
    </div>
  </div>
</header>

<section class="content-container">
  <div class="row image-list-container">
    <div class="image-list-background">
      <div class="container">
        <div id="image-list">
          <ul>
            <li>&nbsp;</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div id="main-container" class="row">
      <article id="main" class="span12 content-row"></article>
    </div>
  </div>
</section>

<footer>
  <div class="container">
    <div class="row">
      <div class="span12 pull-right">
        <p>Kitteh Gallereh, Copyright © 2013<a href="http://telerik.com">Telerik</a></p>
      </div>
    </div>
  </div>
</footer>
